// .seats{
//   padding: 10px;
//   color: indianred;
//   font-weight: bold;
// }
.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      cursor: pointer;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background: #9e9e9e59;
      text-shadow: 2px 3px indianred;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  
  }